{{#if (and this.siteSettings.ai_sentiment_enabled @outletArgs.model.sentiment this.showSentiment)}}
  <li class="user-summary-stat-outlet sentiment">
    <span class="value" title={{i18n "discourse_ai.sentiments.summary.title"}}>
      {{d-icon this.icon}}
    </span>
    <span class="label">
      {{html-safe (i18n "discourse_ai.sentiments.summary.label")}}
    </span>
  </li>
{{/if}}