:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --post-background-color: #ffffff;
  --details-background-color: #e9ecef;
  --details-hover-color: #dee2e6;
}

body {
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  margin: 0;
  padding: 20px;
  font-size: 18px;
  line-height: 1.8;
  background-color: var(--background-color);
  color: #212529;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #ffffff;
  padding: 0.5rem 1rem 0 0.1rem;
}

.ai-logo .logo {
  height: 61px;
  width: 193px;
}

.site-title {
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #060606;
  padding: 0 1em;
  transition: color 0.3s ease;
  text-decoration: none;
}

.llm-name {
  font-size: 1em;
  background-color: #0056b3;
  color: #ffffff;
  padding: 0.5em 1em;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

pre, code {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
  font-size: 0.9em;
  background-color: #f0f0f0;
}

pre {
  padding: 1em;
  border-radius: 6px;
  overflow-x: auto;
}

code {
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

pre code {
  font-size: inherit;
  padding: 0;
  background-color: transparent;
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #333;
  margin-bottom: 0.5em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 3rem;
}

.post {
  margin-bottom: 3rem;
  padding: 2em;
  background-color: var(--post-background-color);
  border-radius: 8px;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
}

.post-header {
  display: flex;
  align-items: baseline;
  justify-content: start;
  margin-bottom: 1rem;
}

.post-user, .post-persona, .post-date {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.post-user {
  font-weight: bold;
  margin-right: 10px;
  color: var(--primary-color);
}

.post-date, .post-persona {
  color: var(--secondary-color);
  font-size: 0.8em;
  margin-top: 0.3em;
}

.post-persona {
  margin-right: 10px;
}

.post-content {
  line-height: 1.4;
}

details {
  margin-top: 10px;
  padding: 20px;
  background-color: var(--details-background-color);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

details:hover {
  background-color: var(--details-hover-color);
}

summary {
  font-weight: bold;
  color: var(--primary-color);
  outline: none;
  cursor: pointer;
}

details p {
  margin-top: 10px;
  color: #555;
}

details[open] summary {
  color: #0056b3;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

ol, ul {
  margin: 0.1em 0;
  padding-left: 1em;
}

li {
  margin-bottom: 0.5em;
  line-height: 1.6;
}

li:last-child {
  margin-bottom: 0;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

p + ol, p + ul {
  margin-top: -0.5em;
}

ol + p, ul + p {
  margin-top: 1.5em;
}

li, p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  .header, details {
    padding: 0.5rem;
  }

  .post-content {
    font-size: 17px;
    padding: 0;
  }

  .container {
    padding: 0rem;
  }

  h1, h2 {
    font-size: 1.5em;
    line-height: 1.3;
  }

  .post-content, p, ol, ul {
    line-height: 1.5;
  }

  .post-date {
    display: none;
  }

  .site-title, .llm-name, .post-header {
    font-size: 1.4em;
    padding: 0;
    margin: 0;
  }

  .llm-name {
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 1em;
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
    color: black;
    font-size: 15px;
  }

  .ai-logo {
    display: block;
    margin-left: -10px;
  }

  .site-title {
    display: inline-block;
    margin-right: 10px;
  }

  .post {
    margin-bottom: 1rem;
    padding: 5px;
    background-color: var(--post-background-color);
    border-radius: unset;
    box-shadow: unset;
  }

  .post p {
    margin-block-start: 0.4em;
  }

  .post-user, .post-persona {
    font-size: 0.7em;
    margin-top: 0;
  }

  .header {
    display: block;
    padding: 0;
  }

  body {
    background-color: var(--post-background-color);
  }

}

