.related-topics {
  margin: 4.5em 0 1em;
}

.more-topics__list {
  h3 .d-icon {
    margin-right: 0.25em;
    color: var(--primary-high);
    font-size: var(--font-down-1);
  }
}

.more-topics__container {
  .nav-pills .d-icon {
    font-size: var(--font-down-1);
  }
}
