.semantic-search__container {
  background: var(--primary-very-low);
  margin: 1rem 0 1rem 0;

  .semantic-search__results {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .ai-indicator-wave {
      color: var(--primary-medium);
    }

    .semantic-search {
      &__searching {
        display: flex;
        align-items: center;

        &.in-progress,
        &.unavailable {
          .semantic-search__searching-text {
            color: var(--primary-medium);
          }
        }
      }

      &__searching-text {
        display: inline-block;
        margin-left: 8px;
      }

      &__unavailable-tooltip {
        margin-left: 4px;
      }
    }

    .semantic-search__entries {
      margin-top: 10px;
    }

    .semantic-search__searching {
      margin-left: 5px;
    }
  }
}

.search-results {
  .fps-result {
    padding: 0.5rem;

    .ai-result__icon {
      display: none;
    }
  }

  .ai-result {
    border-radius: var(--d-border-radius);

    .ai-result__icon {
      display: inline;
      margin-right: 0.5rem;
      margin-left: auto;
      font-size: var(--font-up-2);
      color: var(--tertiary);
    }
  }
}

// Hides other buttons and only shows loader
// while AI quick search is in progress
.search-input {
  .ai-quick-search-spinner ~ a.clear-search,
  .ai-quick-search-spinner ~ a.show-advanced-search {
    display: none;
  }
}
