.ai-features-list {
  margin-block: 2rem;
}

.ai-module {
  &__header {
    border-bottom: 1px solid var(--primary-low);
    padding-bottom: 0.5rem;
  }

  &__module-title {
    display: flex;
    justify-content: space-between;
  }
}

.ai-feature-cards {
  margin-top: 0.5rem;
}

.ai-feature-card {
  background: var(--primary-very-low);
  border: 1px solid var(--primary-low);
  padding: 0.5rem;
  display: block;

  &__persona,
  &__groups {
    font-size: var(--font-down-1-rem);
  }

  &__persona {
    @include ellipsis;
  }

  &__persona-button {
    padding-left: 0;
  }

  &__item-groups {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 0.25em;
    margin: 0.5em 0;

    li {
      font-size: var(--font-down-1);
      border-radius: var(--d-border-radius);
      background: var(--primary-very-low);
      border: 1px solid var(--primary-low);
      padding: 1px 3px;
    }
  }
}

.ai-feature-editor {
  &__header {
    border-bottom: 1px solid var(--primary-low);
  }

  .setting {
    margin-block: 1.5rem;
  }

  .setting-label {
    font-size: var(--font-down-1-rem);
    color: var(--primary-high);

    a[title="View change history"],
    .history-icon {
      display: none;
    }
  }

  .setting-value {
    .desc {
      font-size: var(--font-down-1-rem);
      color: var(--primary-high-or-secondary-low);
    }
  }

  .setting-controls,
  .setting-controls__undo {
    font-size: var(--font-down-1-rem);
    margin-top: 0.5rem;
  }
}
