.ai-feature-list {
  &__configured-features {
    margin-block: 2rem;
  }

  &__row-item-name,
  &__row-item-description {
    display: block;
  }

  &__row-item-groups {
    list-style: none;
    margin: 0.5em 0 0 0;
    display: flex;

    li {
      font-size: var(--font-down-2);
      border-radius: 0.25em;
      background: var(--primary-very-low);
      border: 1px solid var(--primary-low);
      padding: 1px 3px;
      margin-right: 0.5em;
    }
  }
}
