@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ai-search-discoveries {
  &__regular-results-title {
    margin-bottom: 0;
  }

  &__completion {
    margin: 0;
  }

  &__discovery {
    &.preview {
      height: 3.5em; // roughly the loading skeleton height
      overflow: hidden;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: block;
        background: linear-gradient(rgba(255, 255, 255, 0), var(--secondary));
        height: 50%;
        width: 100%;
        bottom: 0;
        opacity: 0;
        animation: fade-in 0.5s ease-in forwards;
      }
    }
  }

  &__discoveries-title,
  &__regular-results-title {
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--primary-low);
    font-size: var(--font-0);

    .d-icon {
      color: var(--primary-high);
    }
  }

  &__discoveries-title {
    display: flex;
    justify-content: space-between;
  }

  &__toggle {
    padding-left: 0;
    margin-bottom: 0.5em;
  }

  .cooked p:first-child {
    margin-top: 0;
  }
}

.ai-search-discoveries-tooltip {
  &__content {
    padding: 0.5rem;
  }

  &__header {
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;

    .btn {
      padding: 0;
    }
  }

  .fk-d-tooltip__trigger {
    vertical-align: middle;
  }

  .d-icon {
    color: var(--primary-medium);
  }
}

.ai-discobot-discoveries {
  padding: 0.5em;
}

.full-page-discoveries {
  padding: 1em 10%;
}

.d-icon-discobot {
  // appears a little undersized next to other icons
  height: 1.15em;
  width: 1.15em;
}
