.admin-contents .ai-persona-list-editor {
  margin-top: 0;
}

.ai-persona-list-editor {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1em 0;

    h3 {
      margin: 0;
    }
  }

  &__current {
    padding-left: 20px;
  }

  li.disabled {
    opacity: 0.5;
  }
}

.ai-persona-command-option-editor {
  &__instructions {
    color: var(--primary-medium);
    font-size: var(--font-down-1);
    line-height: var(--line-height-large);
  }
}

.ai-personas__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.ai-persona-editor {
  .fk-d-tooltip__icon {
    padding-left: 0.25em;
    color: var(--primary-medium);
  }
  label {
    display: block;
  }
  &__command-options {
    padding: 5px 10px 5px;
    border: 1px solid var(--primary-low-mid);
    width: 480px;
  }
  &__command-options-name {
    margin-bottom: 10px;
    font-size: var(--font-down-1);
  }
  &__description {
    width: 500px;
  }
  &__system_prompt {
    width: 500px;
    height: 400px;
  }
  &__priority {
    display: flex;
    align-items: center;
  }
  &__mentionable {
    display: flex;
    align-items: center;
  }
}
