nav.post-controls .actions button.cancel-streaming {
  display: none;
}

.ai-bot-chat {
  #reply-control {
    .title-and-category,
    #private-message-users {
      display: none;
    }
  }
  .gpt-persona {
    margin-bottom: 5px;
    margin-top: -10px;
    .select-kit.single-select.dropdown-select-box ul.select-kit-collection {
      max-height: 200px;
    }
  }
}

.ai-bot-pm {
  .gpt-persona {
    margin-bottom: 5px;
  }
  #reply-control .composer-fields {
    .mini-tag-chooser,
    .add-warning {
      display: none;
    }
  }
}

.ai-bot-chat-warning {
  color: var(--tertiary);
  background-color: var(--tertiary-low);
  border-top: 1px solid var(--tertiary-medium);
  opacity: 0.75;
  .d-icon {
    color: var(--tertiary);
  }
  margin: 0;
  padding: 4px 10px;
  width: calc(100% - 20px);
}

article.streaming nav.post-controls .actions button.cancel-streaming {
  display: inline-block;
}

.ai-bot-available-bot-options {
  .ai-bot-available-bot-content {
    color: var(--primary-high);
    display: flex;
    width: 100%;
    .d-button-label {
      flex: 1;
      text-align: left;
    }
    &:hover {
      background: var(--primary-low);
    }
  }
}

.topic-body .persona-flair {
  order: 2;
  font-size: var(--font-down-1);
  padding-top: 3px;
}

@keyframes slide {
  0% {
  }
  100% {
    transform: translateY(100%) translateX(-50%);
    opacity: 0;
  }
}

.share-copied-alert {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--success);
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  font-size: var(--font-down-2);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: z("modal", "popover");
  &.-success {
    color: var(--success);
  }

  &.-fail {
    color: var(--danger);
  }

  &.slide-out {
    animation: slide 1s cubic-bezier(0, 0, 0, 2) forwards;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.post-action-menu {
  &__share {
    position: relative;
    height: 100%;

    &.is-copied,
    &.is-copied:hover {
      .d-icon-d-post-share {
        color: var(--success);
      }
    }
  }
  &__share-checkmark {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: block;
    stroke: #2ecc71;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.is-visible {
      opacity: 1;
    }

    path {
      stroke: var(--success);
      stroke-width: 4;
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      animation: draw 1s forwards;
    }
  }
}

details.ai-quote {
  > summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span:first-child {
      margin-right: auto;
    }
    span:nth-child(2) {
      font-size: var(--font-down-2);
      background: var(--primary-medium);
      padding: 2px 6px 0;
      color: var(--secondary);
    }
  }
}

.ai-share-modal {
  .d-modal__footer {
    position: relative;
    padding: 10px 20px 25px;
    .btn-primary {
      margin-left: auto;
    }
  }
  &__just-copied {
    position: absolute;
    font-size: var(--font-down-1);
    right: 20px;
    bottom: 5px;
    color: var(--success);
  }
}
