nav.post-controls .actions button.cancel-streaming {
  display: none;
}

article.streaming nav.post-controls .actions button.cancel-streaming {
  display: inline-block;
}

.ai-bot-available-bot-options {
  .ai-bot-available-bot-content {
    color: var(--primary-high);
    display: flex;
    width: 100%;
    .d-button-label {
      flex: 1;
      text-align: left;
    }
    &:hover {
      background: var(--primary-low);
    }
  }
}
