plugins:
  discourse_ai_enabled:
    default: true
    client: true

  ai_toxicity_enabled:
    default: false
    client: true
  ai_toxicity_inference_service_api_endpoint:
    default: "https://disorder-testing.demo-by-discourse.com"
  ai_toxicity_inference_service_api_key:
    default: ''
  ai_toxicity_inference_service_api_model:
    type: enum
    default: unbiased
    choices:
      - unbiased
      - multilingual
      - original
  ai_toxicity_flag_automatically:
    default: true
    client: false
  ai_toxicity_flag_threshold_toxicity:
    default: 70
    client: false
  ai_toxicity_flag_threshold_severe_toxicity:
    default: 60
    client: false
  ai_toxicity_flag_threshold_obscene:
    default: 60
    client: false
  ai_toxicity_flag_threshold_identity_attack:
    default: 60
    client: false
  ai_toxicity_flag_threshold_insult:
    default: 60
    client: false
  ai_toxicity_flag_threshold_threat:
    default: 60
    client: false
  ai_toxicity_flag_threshold_sexual_explicit:
    default: 60
    client: false
  ai_toxicity_groups_bypass:
    client: true
    type: group_list
    list_type: compact
    default: "3" # 3: @staff
    allow_any: false
    refresh: true

  ai_sentiment_enabled:
    default: false
    client: true
  ai_sentiment_inference_service_api_endpoint:
    default: "https://sentiment-testing.demo-by-discourse.com"
  ai_sentiment_inference_service_api_key:
    default: ''
  ai_sentiment_models:
    type: list
    list_type: compact
    default: "emotion"
    allow_any: false
    choices:
     - sentiment
     - emotion
  
  ai_nsfw_detection_enabled: false
  ai_nsfw_inference_service_api_endpoint:
    default: "https://nsfw-testing.demo-by-discourse.com"
  ai_nsfw_inference_service_api_key:
    default: ""
  ai_nsfw_flag_automatically: true
  ai_nsfw_flag_threshold_general: 60
  ai_nsfw_flag_threshold_drawings: 60
  ai_nsfw_flag_threshold_hentai: 60
  ai_nsfw_flag_threshold_porn: 60
  ai_nsfw_flag_threshold_sexy: 70
  ai_nsfw_models:
    type: list
    list_type: compact
    default: "opennsfw2"
    allow_any: false
    choices:
     - opennsfw2
     - nsfw_detector

  ai_openai_api_key:
    default: ""

  ai_embeddings_enabled: false
  ai_embeddings_discourse_service_api_endpoint:
    default: "https://embeddings-testing.demo-by-discourse.com"
  ai_embeddings_discourse_service_api_key:
    default: ""
  ai_embeddings_models:
    type: list
    list_type: compact
    default: ""
    allow_any: false
    choices:
     - all-mpnet-base-v2
     - msmarco-distilbert-base-v4
     - text-embedding-ada-002
  ai_embeddings_generate_for_pms: false
  ai_embeddings_semantic_suggested_topics_anons_enabled: false
  ai_embeddings_pg_connection_string: ""
  