.ai-llms-list-editor {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1em 0;

    h3 {
      margin: 0;
    }
  }
}

.ai-llm-editor {
  padding-left: 0.5em;

  .ai-llm-editor-input {
    width: 350px;
  }

  .fk-d-tooltip__icon {
    padding-left: 0.25em;
    color: var(--primary-medium);
  }

  .ai-llm-editor-tests {
    &__failure {
      color: var(--danger);
    }

    &__success {
      color: var(--success);
    }
  }
}
