<div class="bot-panel ai-bot-available-bot-options">
  {{#each this.botNames as |bot|}}
    <DButton
      @translatedTitle={{bot.humanized}}
      @translatedLabel={{bot.humanized}}
      @action={{action "composeMessageWithTargetBot" bot.modelName}}
      class="btn-flat ai-bot-available-bot-content"
    />
  {{/each}}
</div>